1-Click Apollo System To Get Contacts & Generate High Quality 1-1 Connector Copy.blueprint.json
{
    "name": "1-Click Apollo System To Get Contacts & Generate High Quality 1:1 Connector Copy",
    "flow": [
        {
            "id": 16,
            "module": "apify:finishedActorRuns",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2498589
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300,
                    "name": "Watch Scraper"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "Apollo System V2",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:apify",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4533617
            },
            "mapper": {
                "datasetId": "{{16.defaultDatasetId}}",
                "type": "clean",
                "format": "json"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "Get Data"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Apollo System (myoprocess@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            }
                        }
                    },
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        },
                        "limit": {
                            "empty": true
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "anymailfinder:emailValidate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4533621
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.email}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.company_description}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "email": "{{1.email}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300,
                    "name": "Verify Contact"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anymailfinder"
                            },
                            "label": "Apollo System"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anymailfinder",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email to validate",
                        "required": true
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email to validate",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 15,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "retry": true,
                        "count": "3",
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 600
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "validate": {
                                    "min": 1,
                                    "max": 10000
                                },
                                "required": true
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "validate": {
                                    "min": 1,
                                    "max": 44640
                                },
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 3,
            "module": "azure-openai:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4299534
            },
            "filter": {
                "name": "Is Contact Valid?",
                "conditions": [
                    [
                        {
                            "a": "{{2.validation}}",
                            "b": "valid",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "Strip suffixes like “LLC,” “LTD,” “Inc.,” “Construction,” “Builders,” or “Group.” Use short internal names employees would actually say — e.g., “BCR” instead of “Baker Concrete Construction,” “Turner” instead of “Turner Construction Company.”\n{{1.company_name}}\n\nThe end result should be the clean company name with no \"\"",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "temperature": "1",
                "deploymentName": "gpt-4o"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Clean Company Names"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure-openai3"
                            },
                            "label": "My Azure OpenAI API Key (advanced) connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure-openai2,azure-openai3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "deploymentName",
                        "type": "text",
                        "label": "OpenAI Deployment Name",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system",
                                            "nested": [
                                                {
                                                    "help": "The contents of the message. This parameter is required except for `Assistant` role with function calls.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "`Image` is supported by only GPT-4 Turbo with Vision model.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "default": true
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image_url",
                                                                        "nested": [
                                                                            {
                                                                                "name": "image_url",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "url",
                                                                                        "type": "text",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "detail",
                                                                                        "type": "select",
                                                                                        "label": "Detail",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "High",
                                                                                                "value": "high"
                                                                                            },
                                                                                            {
                                                                                                "label": "Low",
                                                                                                "value": "low"
                                                                                            },
                                                                                            {
                                                                                                "label": "Auto",
                                                                                                "value": "auto"
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Image URL"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "mappable": false,
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "The contents of the message. This parameter is required except for `Assistant` role with function calls.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "validate": {
                            "min": 0
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n",
                        "type": "number",
                        "label": "Number of Completions"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "type": "text"
                                }
                            ],
                            "type": "text",
                            "label": "Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "azure-openai:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4299534
            },
            "mapper": {
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "Prompt (Strict Format, No Jargon, No Fluff, Clean Company Name):\r\nYou must return a single sentence in this exact format:\r\nNoticed [companyName] helps [DreamClient] at [company type/size] — built a connector system that can intro you to [same role/similar roles] who [specific, frustrating problem they complain about daily].\r\n\r\nRules:\r\n- Use exact job titles: \"HR managers,\" \"lab directors,\" \"store owners\" (not \"teams\" or \"stakeholders\")\r\n- Use specific company types: \"Series A biotech startups,\" \"mid-sized retail chains,\" \"growing law firms\"\r\n- Pain must sound like actual workplace gripes: \"can't find decent lab techs for months,\" \"spend half their day fixing broken registers,\" \"miss court deadlines because hiring takes forever\"\r\n- No corporate jargon: Avoid \"capacity,\" \"shortages,\" \"gaps,\" \"challenges,\" \"bandwidth,\" \"resources\"\r\n- Use ampersands (&) to connect problems - makes it feel more conversational\r\n- Avoid repeating the exact same job title - use variations like \"directors,\" \"managers,\" \"owners\"\r\n- Be ultra-specific: Name the exact role, exact time waste, exact headache\r\n\r\nBad example: \"teams struggling with resource constraints\"\r\nGood example: \"store managers who can't hire cashiers fast enough & are working 70-hour weeks covering shifts\"\r\n\r\n{{1.company_description}}\r\nCompany tech: {{1.company_technologies}}\r\nCompany name: {{3.result}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "temperature": "1",
                "deploymentName": "gpt-4o"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150,
                    "name": "1:1 Industry Copy"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure-openai3"
                            },
                            "label": "My Azure OpenAI API Key (advanced) connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure-openai2,azure-openai3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "deploymentName",
                        "type": "text",
                        "label": "OpenAI Deployment Name",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system",
                                            "nested": [
                                                {
                                                    "help": "The contents of the message. This parameter is required except for `Assistant` role with function calls.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "`Image` is supported by only GPT-4 Turbo with Vision model.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "default": true
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image_url",
                                                                        "nested": [
                                                                            {
                                                                                "name": "image_url",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "url",
                                                                                        "type": "text",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "detail",
                                                                                        "type": "select",
                                                                                        "label": "Detail",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "High",
                                                                                                "value": "high"
                                                                                            },
                                                                                            {
                                                                                                "label": "Low",
                                                                                                "value": "low"
                                                                                            },
                                                                                            {
                                                                                                "label": "Auto",
                                                                                                "value": "auto"
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Image URL"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "mappable": false,
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "The contents of the message. This parameter is required except for `Assistant` role with function calls.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "validate": {
                            "min": 0
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n",
                        "type": "number",
                        "label": "Number of Completions"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "type": "text"
                                }
                            ],
                            "type": "text",
                            "label": "Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    }
                ]
            },
            "onerror": [
                {
                    "id": 14,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "retry": true,
                        "count": "3",
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1500,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "validate": {
                                    "min": 1,
                                    "max": 10000
                                },
                                "required": true
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "validate": {
                                    "min": 1,
                                    "max": 44640
                                },
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Dream Email",
                "scope": "roundtrip",
                "value": "Hey {{1.first_name}}—\n\n{{4.result}}\n\nWorth connecting you?\n\nSent from my iPhone"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "1:1 Connector Copy"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Dream Email",
                        "label": "Dream Email",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "instantly:CreateLead",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4533644
            },
            "mapper": {
                "campaign": "0cde77cd-7f9c-4b51-9018-6f8c6ae6d13f",
                "email": "{{2.input.email}}",
                "personalization": "{{11.`Dream Email`}}",
                "website": "http://{{1.company_domain}}",
                "last_name": "{{1.last_name}}",
                "first_name": "{{1.first_name}}",
                "company_name": "{{3.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Add to Instantly"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Apollo System V2",
                            "data": {
                                "scoped": "true",
                                "connection": "instantly3"
                            }
                        }
                    },
                    "expect": {
                        "campaign": {
                            "mode": "chose",
                            "label": "Demo Apollo System"
                        },
                        "lt_interest_status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "list_id": {
                            "mode": "chose"
                        },
                        "skip_if_in_workspace": {
                            "mode": "chose"
                        },
                        "skip_if_in_campaign": {
                            "mode": "chose"
                        },
                        "skip_if_in_list": {
                            "mode": "chose"
                        },
                        "verify_leads_for_lead_finder": {
                            "mode": "chose"
                        },
                        "verify_leads_on_import": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:instantly3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "campaign",
                        "type": "select",
                        "label": "Campaign ID",
                        "required": true
                    },
                    {
                        "name": "email",
                        "type": "text",
                        "label": "Email",
                        "required": true
                    },
                    {
                        "name": "personalization",
                        "type": "text",
                        "label": "Personalization"
                    },
                    {
                        "name": "website",
                        "type": "text",
                        "label": "Website"
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "company_name",
                        "type": "text",
                        "label": "Company Name"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "lt_interest_status",
                        "type": "select",
                        "label": "Lead Interest Status",
                        "validate": {
                            "enum": [
                                0,
                                1,
                                2,
                                3,
                                4,
                                -1,
                                -2,
                                -3
                            ]
                        }
                    },
                    {
                        "name": "pl_value_lead",
                        "type": "text",
                        "label": "Potential Value of the Lead"
                    },
                    {
                        "name": "list_id",
                        "type": "select",
                        "label": "List ID"
                    },
                    {
                        "name": "assigned_to",
                        "type": "uuid",
                        "label": "Assigned To"
                    },
                    {
                        "name": "skip_if_in_workspace",
                        "type": "boolean",
                        "label": "Skip If In Workspace"
                    },
                    {
                        "name": "skip_if_in_campaign",
                        "type": "boolean",
                        "label": "Skip If In Campaign"
                    },
                    {
                        "name": "skip_if_in_list",
                        "type": "boolean",
                        "label": "Skip If In List"
                    },
                    {
                        "name": "blocklist_id",
                        "type": "uuid",
                        "label": "Blocklist ID"
                    },
                    {
                        "name": "verify_leads_for_lead_finder",
                        "type": "boolean",
                        "label": "Verify Leads For Lead Finder"
                    },
                    {
                        "name": "verify_leads_on_import",
                        "type": "boolean",
                        "label": "Verify Leads On Import"
                    },
                    {
                        "name": "custom_variables",
                        "type": "any",
                        "label": "Custom Variables"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 13,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "retry": true,
                        "count": "3",
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": 2100,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "validate": {
                                    "min": 1,
                                    "max": 10000
                                },
                                "required": true
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "validate": {
                                    "min": 1,
                                    "max": 44640
                                },
                                "required": true
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}