2 .PriceSage- Detailed Insights Updated.json
{
  "name": "2 .PriceSage- Detailed Insights Updated",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appIPpXtEjqM83P8C",
          "mode": "list",
          "cachedResultName": "PriceSage",
          "cachedResultUrl": "https://airtable.com/appIPpXtEjqM83P8C"
        },
        "table": {
          "__rl": true,
          "value": "tblYLr6tqwEM4I1Pj",
          "mode": "list",
          "cachedResultName": "productinfo",
          "cachedResultUrl": "https://airtable.com/appIPpXtEjqM83P8C/tblYLr6tqwEM4I1Pj"
        },
        "filterByFormula": "{detailedinfo}='false'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -980,
        -145
      ],
      "id": "ce8c0664-ef0b-4eb4-9d5a-b48854ec1969",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "hhgx7xYyXYzDJZZu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -760,
        -145
      ],
      "id": "1ce2b59e-1030-4dc3-8e63-424ee620969a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-fdcefec6c2b24679ad952af48e6666b9"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Accept",
              "value": "text/html"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json['Product url'] }}\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"onlyMainContent\": true,\n  \"parsePDF\": true,\n  \"maxAge\": 14400000\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        -320
      ],
      "id": "2e58f697-3e46-437c-89a9-36fd6f96602e",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -100,
        -100
      ],
      "id": "e209b97d-1522-4fdf-8a6f-5df0f32f3ff6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "oxhzUGnlbGTJmEUH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n\n**Persona**\n\nYou are a **Factual Product Data Structuring Engine**. Your primary function is to receive raw, unstructured text or HTML from e-commerce product pages and transform it into a clean, reliable, and structured JSON object. You are meticulous, factual, and your output is the trusted source of truth for high-level strategic analysis systems. You never infer or hallucinate; you only report and structure what is explicitly present.\n\n**Context**\n\nYou will be provided with scraped product page content. Your task is to parse this content and execute a detailed extraction and normalization process according to the logic defined below.\n\n**Core Task & Multi-Field Extraction Logic**\n\nAnalyze the provided data and generate a structured JSON object. For each field, apply the following rigorous logic:\n\n1.  `product_title`:\n\n      * Extract the primary product title.\n      * Clean the title by removing extraneous text like \"Visit the [Brand] Store\".\n      * If no title is found, the value must be `null`.\n\n2.  `price`:\n\n      * Scan the entire text for all visible prices associated with the product. Parse all numbers found next to a currency symbol (`$` or `₹`), removing any commas.\n      * If **one price** is found, use that value.\n      * If **multiple prices** are found (e.g., a price range), calculate the **mathematical average** of all found prices and use that single number as the value. Round to the nearest whole number.\n      * If no price can be found, the value must be `null`.\n\n3.  `in_stock`:\n\n      * This must be a boolean (`true` or `false`).\n      * Return `true` if any of the following is visible: an \"Add to Cart\" or \"Buy Now\" button, or text like \"In Stock\" or \"Available\".\n      * Return `false` only if explicit phrases like “Out of Stock”, “Currently unavailable”, or “Sold out” are present.\n      * If the status is ambiguous or no indicators are present, default to `false`.\n\n4.  `brand`:\n\n      * Extract the brand name. Look for patterns like \"by [Brand]\", \"Brand:\", or \"Visit the [Brand] Store\".\n      * If no brand is explicitly mentioned, the value must be `null`.\n\n5.  `feature_summary`:\n\n      * Locate the primary feature list or description bullet points.\n      * Extract the top 3-4 most important features.\n      * Return them as a single, clean string, with each feature separated by a `|` delimiter (e.g., \"50MP AI Camera | 120Hz AMOLED Display | 67W Turbo Charging\").\n      * If no features are found, the value must be `null`.\n\n**Output Format**\n\n**CRITICAL:** Your response MUST be a single, valid JSON object and nothing else. Do not include any introductory text, concluding remarks, or markdown formatting. Adhere strictly to the format below.\n\n```json\n{\n  \"product_title\": \"string\",\n  \"price\": number,\n  \"in_stock\": true,\n  \"brand\": \"string\",\n  \"feature_summary\": \"string\"\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -320
      ],
      "id": "4d27a4fd-2445-4031-a836-f17a602f36dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"product_title\": \"Realme Buds Wireless 3 with ANC\",\n  \"price\": 2899,\n  \"in_stock\": true,\n  \"brand\": \"Realme\",\n  \"feature_summary\": \"ANC, Bluetooth 5.3, 30-hour battery\"\n\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        20,
        -97.5
      ],
      "id": "0a3b49a2-5311-4fa3-b8af-b96e2bed0253",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "id": "79c1fb4e-85b6-4820-a663-cb473dd93fff",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "oxhzUGnlbGTJmEUH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appIPpXtEjqM83P8C",
          "mode": "list",
          "cachedResultName": "PriceSage",
          "cachedResultUrl": "https://airtable.com/appIPpXtEjqM83P8C"
        },
        "table": {
          "__rl": true,
          "value": "tbl3R5YnDRSIIlxM9",
          "mode": "list",
          "cachedResultName": "detailedinfo",
          "cachedResultUrl": "https://airtable.com/appIPpXtEjqM83P8C/tbl3R5YnDRSIIlxM9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company name": "={{ $('Search records').item.json['company name'] }}",
            "url": "={{ $('Search records').item.json['Product url'] }}",
            "product_title": "={{ $json.output.product_title }}",
            "price": "={{ $json.output.price }}",
            "in_stock": "={{ $json.output.in_stock }}",
            "brand": "={{ $json.output.brand }}",
            "feature_summary": "={{ $json.output.feature_summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "in_stock",
              "displayName": "in_stock",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "feature_summary",
              "displayName": "feature_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        -320
      ],
      "id": "96652fc0-3212-47c1-b09a-55d0a43f565a",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "hhgx7xYyXYzDJZZu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appIPpXtEjqM83P8C",
          "mode": "list",
          "cachedResultName": "PriceSage",
          "cachedResultUrl": "https://airtable.com/appIPpXtEjqM83P8C"
        },
        "table": {
          "__rl": true,
          "value": "tblYLr6tqwEM4I1Pj",
          "mode": "list",
          "cachedResultName": "productinfo",
          "cachedResultUrl": "https://airtable.com/appIPpXtEjqM83P8C/tblYLr6tqwEM4I1Pj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "detailedinfo": "true",
            "id": "={{ $('Search records').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product url",
              "displayName": "Product url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "detailedinfo",
              "displayName": "detailedinfo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        820,
        -145
      ],
      "id": "28048e9b-ccda-44a6-9c90-640056aa7154",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "hhgx7xYyXYzDJZZu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e070d851-a7f3-443f-94f6-30076a94a800",
              "leftValue": "={{ $json.output.price }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        -320
      ],
      "id": "cf459601-9eb9-4110-8c27-1408b7d7bd3b",
      "name": "If"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -140
      ],
      "id": "ee249d95-86b3-4475-9a2f-c8fdeba4d731",
      "name": "called by site to airtable flow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        -280
      ],
      "id": "7c26fae4-416d-48c2-9294-79d6c49ca6fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "Fire crawl Api key\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        -400
      ],
      "id": "b90a225d-8e7b-4459-a45e-d9daf0cbe0a1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "called by site to airtable flow": [
      {
        "json": {
          "query": "saiiiiiii90.app.n8n.cloud"
        }
      }
    ]
  },
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "called by site to airtable flow": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "L3biCwJnqtCIUdou"
  },
  "versionId": "4725d764-fcac-4c55-a2e3-b649fe6d8f9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0923497ab686db4f8fe4b332a011c2b13165f1a79e12541e2c2ffc08fdb2d746"
  },
  "id": "PWZMxKz508upae8E",
  "tags": []
}