HIRA_4_Schedule_Interview.json
{
  "name": "Schedule_Interview",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userQuery"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -60
      ],
      "id": "9250dc6b-3bc9-458e-bb4f-45c7e86bffeb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.userQuery || \"\"; // or replace with the actual input field\nconst regex = /(https:\\/\\/calendly\\.com\\/[^\\s]+)/;\nconst match = input.match(regex);\n\nreturn [\n  {\n    json: {\n      calendlyLink: match ? match[0] : null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        -60
      ],
      "id": "79ad88b6-8dbf-4c8d-acf6-88cb48d5fe39",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjlDXvccxNUiXGz",
          "mode": "list",
          "cachedResultName": "ULTIMATE HR AGENT",
          "cachedResultUrl": "https://airtable.com/appjlDXvccxNUiXGz"
        },
        "table": {
          "__rl": true,
          "value": "tblh5djxUcxg8onOw",
          "mode": "list",
          "cachedResultName": "Candidates_info",
          "cachedResultUrl": "https://airtable.com/appjlDXvccxNUiXGz/tblh5djxUcxg8onOw"
        },
        "filterByFormula": "{Status} = \"Shortlisted\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        80,
        -60
      ],
      "id": "98898118-8320-4949-8fe5-ea9529185da9",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "Ky0bgObEH4StKDd9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Schedule Your Interview with AutomateA2Z",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; background-color: #f7f7f7; padding: 20px; color: #333;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px; padding: 30px; box-shadow: 0 2px 6px rgba(0,0,0,0.05);\">\n      <tr>\n        <td>\n          <h2 style=\"color: #444444;\">Hi {{ $json.Name }},</h2>\n\n          <p>Thank you for your interest in the <strong>{{ $json.role }}</strong> role at <strong>AutomateA2Z</strong>.</p>\n\n          <p>We’d like to move forward and schedule an interview with you. Please click the link below to choose a preferred date and time that works best for you:</p>\n\n          <p style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"{{ $('Code').item.json.calendlyLink }}\" style=\"background-color: #007bff; color: white; text-decoration: none; padding: 12px 20px; border-radius: 5px; display: inline-block;\">\n              Schedule Interview\n            </a>\n          </p>\n\n          <p style=\"background-color: #fff3cd; color: #856404; padding: 12px 16px; border-left: 4px solid #ffc107; border-radius: 5px; font-weight: bold;\">\n            🔔 Important: Please schedule your interview only once. If you’ve received this email multiple times, do not schedule again unless you have been specifically sent a <u>reschedule link</u>.\n          </p>\n\n          <p><strong>Please remember to check your email inbox (and spam/promotions folder) regularly</strong> for any updates regarding your interview.</p>\n\n          <p>Occasionally, due to unforeseen scheduling conflicts, our interviewer may need to reschedule. We kindly ask for your understanding and flexibility in such cases.</p>\n\n          <p>We look forward to speaking with you soon!</p>\n\n          <p>Warm regards,<br>\n          <strong>Sai Siva</strong><br>\n          Recruiter<br>\n          AutomateA2Z</p>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        300,
        -60
      ],
      "id": "d5564fac-5171-4274-b4b9-a303094efe19",
      "name": "Gmail",
      "webhookId": "db2c536a-9ace-4ed5-9ad3-131bebb72c8a",
      "credentials": {
        "gmailOAuth2": {
          "id": "aW2zv25UFPdcjflE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjlDXvccxNUiXGz",
          "mode": "list",
          "cachedResultName": "ULTIMATE HR AGENT",
          "cachedResultUrl": "https://airtable.com/appjlDXvccxNUiXGz"
        },
        "table": {
          "__rl": true,
          "value": "tblh5djxUcxg8onOw",
          "mode": "list",
          "cachedResultName": "Candidates_info",
          "cachedResultUrl": "https://airtable.com/appjlDXvccxNUiXGz/tblh5djxUcxg8onOw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Name": "={{ $('Airtable').item.json.Name }}",
            "email": "={{ $('Airtable').item.json.email }}",
            "Status": "Scheduled",
            "summary": "={{ $('Airtable').item.json.summary }}",
            "role": "={{ $('Airtable').item.json.role }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Shortlisted",
                  "value": "Shortlisted"
                },
                {
                  "name": "Selected",
                  "value": "Selected"
                },
                {
                  "name": "Scheduled",
                  "value": "Scheduled"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        -60
      ],
      "id": "be011e0b-0b8d-4c5f-a92e-a5c90e17be76",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "Ky0bgObEH4StKDd9",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "userQuery": "schedule the interviews this is the booking link : https://calendly.com/saisiva938141/hr-interview"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e87f5b8a-6c11-4e58-ab9f-29970a7627ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1abe18ca67ac01356ee2a2a8862dd117cfb0e58e6cc0b6f33b9c353356d83e41"
  },
  "id": "jt58oRZMyKjwGERn",
  "tags": []
}