N8N_Communication.json
{
  "name": "N8N Communication",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1dc41625-7156-45cf-b70c-e7360575e0c5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1060,
        -160
      ],
      "id": "69d61632-fc5b-4ee3-8ed3-c4cac946a778",
      "name": "Webhook",
      "webhookId": "1dc41625-7156-45cf-b70c-e7360575e0c5"
    },
    {
      "parameters": {
        "content": "## Message Incoming\n@ your agent in Slack, then send the message",
        "height": 620,
        "width": 460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -300
      ],
      "typeVersion": 1,
      "id": "11f3dcb5-58c4-41db-bed3-0b8e5f4584be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agent Operations\nAnswering your query from Slack",
        "height": 620,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        -300
      ],
      "typeVersion": 1,
      "id": "0c2f8c43-ce6e-4eee-9132-3a887a64bb64",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Message Outgoing\nAnswering query from Telegram",
        "height": 620,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        -300
      ],
      "typeVersion": 1,
      "id": "fa280cad-181e-492a-9875-5ee72bf374d7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Slack Connection\nBest for complex response formats and corporate channels.",
        "height": 760,
        "width": 1240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        -420
      ],
      "typeVersion": 1,
      "id": "3108ef3e-548d-4e28-ae18-172571551a44",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Message Incoming\nSend message to the agent in Telegram",
        "height": 620,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        500
      ],
      "typeVersion": 1,
      "id": "d8120f1f-47a4-48df-b6b4-df0dccb42edd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Agent Operations\nAnswering your query from Telegram",
        "height": 620,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        500
      ],
      "typeVersion": 1,
      "id": "300a33ad-62ea-4246-b59b-847cc1ef29e4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Message Outgoing\nAnswering query from Telegram",
        "height": 620,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        500
      ],
      "typeVersion": 1,
      "id": "02cab7f7-09af-4d3e-a917-a72f7780603b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Telegram Connection\nEasiest and quickest to set-up as an external chat with your agent.",
        "height": 760,
        "width": 1240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        380
      ],
      "typeVersion": 1,
      "id": "86761d3f-c176-4099-a359-50ed658939aa",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1180,
        640
      ],
      "id": "45894b9c-c0d9-463a-99b0-98c4569ed178",
      "name": "Telegram Trigger",
      "webhookId": "adc8d423-8fae-46c9-9edc-b57464e70961",
      "credentials": {
        "telegramApi": {
          "id": "D7lOcE8yJUbsxUfq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        640
      ],
      "id": "6916fcd1-dbdc-4290-b8c4-c9f9f359a93e",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "D7lOcE8yJUbsxUfq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1520,
        640
      ],
      "id": "30ae23e3-8540-4083-aa1c-66fa1c90b71a",
      "name": "Ai Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.event.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1560,
        -160
      ],
      "id": "cf95ed45-8ec2-4e67-bc88-454cbd03dc1d",
      "name": "Slack Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "ENTER SLACK HOOK URL HERE",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -160
      ],
      "id": "e743809a-3288-4038-9301-2a4ffaa776fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $node['Webhook'].json['body']['challenge'] }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        -160
      ],
      "id": "07691dc2-ad98-49cb-8a9d-5191c845eb17",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1560,
        160
      ],
      "id": "771e8c94-0358-4a60-9538-017a6245f17d",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "IUQj2MSkgAPdbaNv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.event.user }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1700,
        160
      ],
      "id": "22598f41-4f41-43e9-9fee-a8be94c5a6ad",
      "name": "Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1680,
        880
      ],
      "id": "136d7c8b-f74e-4b6e-844d-1114f298372c",
      "name": "Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1540,
        880
      ],
      "id": "646cc5c2-9a1c-4265-8034-6f7549f4a7e3",
      "name": "Model1",
      "credentials": {
        "openAiApi": {
          "id": "IUQj2MSkgAPdbaNv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        1180,
        1460
      ],
      "id": "a4439270-6ec5-431b-9530-e4ac6f794565",
      "name": "Chat Received",
      "webhookId": "7d340fdd-2f2e-4e1c-95e1-68b240e9503b",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "uVuLpeUsmZOqOyQc",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1540,
        1460
      ],
      "id": "d434e245-b0d4-445d-a041-6ca461b4e21f",
      "name": "Whatsapp Agent"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "521083091094006",
        "recipientPhoneNumber": "ENTER YOUR PHONE NUMBER HERE",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1980,
        1460
      ],
      "id": "660a0465-09c6-4eaa-8ddf-598f81b7b984",
      "name": "Send Chat",
      "credentials": {
        "whatsAppApi": {
          "id": "yxkXfVzq53hcXCaV",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1560,
        1740
      ],
      "id": "7dcedb61-f4fa-42c8-8d17-368935734e03",
      "name": "Model2",
      "credentials": {
        "openAiApi": {
          "id": "IUQj2MSkgAPdbaNv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Received').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1680,
        1740
      ],
      "id": "f3a7706d-92bc-4fc7-93a9-00d3115f203a",
      "name": "Memory2"
    },
    {
      "parameters": {
        "content": "## Message Outgoing\nSending output back to Whatsapp",
        "height": 620,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        1300
      ],
      "typeVersion": 1,
      "id": "439fb416-a4cd-4eaa-8cff-00adae26e53c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Agent Operations\nAnswering user query from Whatsapp",
        "height": 620,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        1300
      ],
      "typeVersion": 1,
      "id": "d0381ae0-b8d4-4fc7-8899-36c5748579ef",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Message Incoming\nReceive incoming user message from\nWhatsapp",
        "height": 620,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        1300
      ],
      "typeVersion": 1,
      "id": "e9bf1f21-49d8-40d5-a856-9f93b107b270",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Whatsapp Connection\nMost popular platform for communication, but can be challenging to set-up Meta credentials to connect to Whatsapp.",
        "height": 760,
        "width": 1240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        1180
      ],
      "typeVersion": 1,
      "id": "30d485b2-b23a-402f-82ab-1fb5ca5a2249",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        2520
      ],
      "id": "5ae0cad8-0e5c-48ce-868d-3aa507ab3727",
      "name": "Model3",
      "credentials": {
        "openAiApi": {
          "id": "etCfEiMXmCbulmvL",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1640,
        2520
      ],
      "id": "aa1c30bc-77c6-4a31-8632-70205d575bf3",
      "name": "Memory3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1520,
        2240
      ],
      "id": "32757330-92f7-40b8-9f2e-834fcde5d017",
      "name": "N8N Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7c209f8f-5915-4e9e-b781-6872d1b87bb3",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1200,
        2240
      ],
      "id": "634217a7-66e6-45a8-bee6-d3bfd2239e27",
      "name": "User Input from OpenWebUi",
      "webhookId": "7c209f8f-5915-4e9e-b781-6872d1b87bb3"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        2240
      ],
      "id": "3d13d99d-c149-497a-828a-a837334c9d97",
      "name": "Assistant Output to OpenWebUi"
    },
    {
      "parameters": {
        "content": "## Message Outgoing\nSending output to OpenWebUi",
        "height": 620,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        2100
      ],
      "typeVersion": 1,
      "id": "21af1ba4-11f5-45d4-9dac-688d47d92a95",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Agent Operations\nAnswering user query from OpenWebUi",
        "height": 620,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        2100
      ],
      "typeVersion": 1,
      "id": "2d4c0503-5b50-4fde-803a-e5e9f79cf762",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Message Incoming\nReceive incoming user message from\nOpenWebUi",
        "height": 620,
        "width": 420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        2100
      ],
      "typeVersion": 1,
      "id": "eb264f96-2b95-4785-965c-279d794645c0",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "# OpenWebUi Connection\nThe best way to run a \"ChatGPT-Like\" Ui on Your Local Device while contacting your N8N Agents.",
        "height": 760,
        "width": 1240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        1980
      ],
      "typeVersion": 1,
      "id": "7b9b7580-e946-4358-b67a-1cd666b81609",
      "name": "Sticky Note15"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Ai Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Slack Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Slack Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Slack Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory1": {
      "ai_memory": [
        [
          {
            "node": "Ai Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ai Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Received": {
      "main": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Agent": {
      "main": [
        [
          {
            "node": "Send Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory2": {
      "ai_memory": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Model3": {
      "ai_languageModel": [
        [
          {
            "node": "N8N Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory3": {
      "ai_memory": [
        [
          {
            "node": "N8N Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "N8N Agent": {
      "main": [
        [
          {
            "node": "Assistant Output to OpenWebUi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Input from OpenWebUi": {
      "main": [
        [
          {
            "node": "N8N Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c70fbd45-acca-4817-b59d-475d316caab7",
  "meta": {
    "instanceId": "8e09c051f262ebcc879c516591c0a20946ed53132c6bab37c94c646c48bfb3aa"
  },
  "id": "KkVFqHYAaeSNVwM6",
  "tags": []
}