Personalize Icebreaker.json
{
  "name": "CEP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -20
      ],
      "id": "15a689cc-463f-49ee-b29f-e724065fd8a5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FylsZFpmTIdcf-2om-N3i03v0FiC_eavZZHL2alKGHc",
          "mode": "list",
          "cachedResultName": "demo dubai ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FylsZFpmTIdcf-2om-N3i03v0FiC_eavZZHL2alKGHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FylsZFpmTIdcf-2om-N3i03v0FiC_eavZZHL2alKGHc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        -20
      ],
      "id": "8c48680d-02f1-40e1-8e80-2e8388855b5b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "azoybbhe9wPuvpcK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ed3f9f0-edfa-46c7-b26e-9d84af04734b",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -20
      ],
      "id": "53dea62b-b23c-474e-90a9-48f8223632f5",
      "name": "If"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        -120
      ],
      "id": "4c047966-0cf8-4330-adf1-15ebb392e6bc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=use this data :  \nname : {{ $json.first_name }} {{ $json.last_name }}\norganization name : {{ $json.organization_name }}\norganization primary domain : {{ $json.organization_primary_domain }}\nwebsite : {{ $json.organization_website_url }}\norganization linkedin url : {{ $json.organization_linkedin_url }}\n\nlinkedin url : {{ $json.linkedin_url }}\njob title : {{ $json.title }}\nheadline : {{ $json.headline }}\nplace : {{ $json.city }}\nkeywords : {{ $json.keywords }} {{ $json.organization_technologies }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert B2B cold outreach specialist. Your sole task is to analyze information about a prospect and generate a concise, powerful, one-line email icebreaker. You will imply familiarity and personalization without using generic phrases.\n\nYou will be given a JSON object containing data for a single organization from a Google Sheet.\n\nRules:\n\nPrimary Research: Your primary source for personalization is the company's website (found at organization_primary_domain) and their LinkedIn page (organization_linkedin_url). You MUST base your icebreaker on what the company actually does (e.g., \"provides AI for IoT security,\" \"is a branding agency for CPG,\" \"offers supply chain consulting\").\n\nTone of Voice: You must write in a \"Spartan\" / laconic tone. Be direct, confident, and professional. Keep it short. Avoid buzzwords, fluff, or overly enthusiastic language like \"absolutely love\" or \"it's amazing.\"\n\nIcebreaker Structure: The icebreaker must follow this two-part structure: [Specific Observation about their company] + [Bridging Statement]\n\nThe Observation must be a concise compliment about their work or focus area.\n\nThe Bridging Statement will almost always be: \"Curious how you're handling client follow-ups as you scale.\"\nStrict Output Format: You MUST return the output ONLY in the following JSON format, with no other text, comments, or explanations. The double line break (\\n\\n) is critical.\n\nJSON\n\n{\"icebreaker\":\"Hey {firstName},\\n\\nLove what you're doing at {companyName}. [Your generated sentence here]\"}\nExample Walkthrough:\n\n\n\nFormat the final JSON.\n\nYOUR OUTPUT MUST BE:\n\nJSON\n\n{\"icebreaker\":\"Hey {firstName},\\n\\nLove what you're doing at CleanTech Logistics. Impressive focus on decarbonizing the shipping industry. Curious how you're handling client follow-ups as you scale.\"}\nFallback Instruction:\n\nIf the website is broken, in a language you cannot process, or provides zero clear information about what the company does, use this safe, generic fallback format:\n\nJSON\n\n{\"icebreaker\":\"Hey {firstName},\\n\\nLove what you're doing at {companyName}. Reaching out as I see we're in a similar space. Curious how you're handling client follow-ups as you scale.\"}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        520,
        -20
      ],
      "id": "ebe6386d-167d-42cd-b489-65c6e8f915f2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"icebreaker\":\"Hey {firstName},\\n\\nLove what you're doing at CleanTech Logistics. Impressive focus on decarbonizing the shipping industry. Wanted to run something by you.\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        200
      ],
      "id": "aae85403-0578-4f45-8a4c-5f6258d3ed1d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        160
      ],
      "id": "f9b440ad-a546-4599-bc7f-3efcebbda118",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "oxhzUGnlbGTJmEUH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FylsZFpmTIdcf-2om-N3i03v0FiC_eavZZHL2alKGHc",
          "mode": "list",
          "cachedResultName": "demo dubai ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FylsZFpmTIdcf-2om-N3i03v0FiC_eavZZHL2alKGHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 861107038,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FylsZFpmTIdcf-2om-N3i03v0FiC_eavZZHL2alKGHc/edit#gid=861107038"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ice breaker": "={{ $json.output.icebreaker }}",
            "first name": "={{ $('Loop Over Items').item.json.first_name }}",
            "last name": "={{ $('Loop Over Items').item.json.last_name }}",
            "email": "={{ $('Loop Over Items').item.json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ice breaker",
              "displayName": "ice breaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        -20
      ],
      "id": "2536daa0-f05d-40fa-abf9-c7ab18ea957f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "azoybbhe9wPuvpcK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "159a3fd6-5a98-475a-9c24-20be6c77d442",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0923497ab686db4f8fe4b332a011c2b13165f1a79e12541e2c2ffc08fdb2d746"
  },
  "id": "ZYbxmRfLH62hrrtN",
  "tags": []
}